.taylor_purple {
    background-color: purple;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.taylor_orange {
    background-color: orange;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.taylor_white {
    background-color: white;
}

#iambar li {
  border: 0.5px solid #BBB;
  padding: 3px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
#iambar li a {
  padding: 0;
  font-weight: bold;
}
.iambar_1 {
  margin-right : 10px !important;
  background-color: #888;
  border-color: #666 !important;
}
.iambar_1 a {
    color: #FFF !important;
}
.iambar_2 {
  background-color: #00d2ff;
  border-color: #00d2ff !important;
}
.iambar_2 a {
    color: #FFF !important;
}
.iambar_3 {
  background-color: #FFF;
  border-color: #00d2ff !important;
}
.iambar_3 a {
    color: #00d1ff !important;
}

.grad {
  height: 10px;
  background: violet;
  background: -webkit-linear-gradient(left,green,blue,violet,blue,green);
  background: -o-linear-gradient(left,green,blue,violet,blue,green);
  background: -moz-linear-gradient(left,green,blue,violet,blue,green);
  background: linear-gradient(to right,green,blue,violet,blue,green);
} 
