.taylor_purple {
    background-color: purple;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#iambar li {
  border: 0.5px solid #BBB;
  padding: 3px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
#iambar li a {
  padding: 0;
  font-weight: bold;
}
.iambar_1 {
  margin-right: 10px !important;
  background-color: #888;
  border-color: #666 !important;
}
.iambar_1 a {
    color: #FFF !important;
}
.iambar_2 {
  background-color: #00d2ff;
  border-color: #00d2ff !important;
}
.iambar_2 a {
    color: #FFF !important;
}
.iambar_3 {
  background-color: #FFF;
  border-color: #00d2ff !important;
}
.iambar_3 a {
    color: #00d1ff !important;
}
